Build_Folder/*
Lib/*
*.keras
*.h5
*.csv
raw_ecg_data/*
Codigo/Python_Ai_Signal_Processing/Healthy-Dataset/*
Codigo/Python_Ai_Signal_Processing/More_Datasets/*
Codigo/Python_Ai_Signal_Processing/ECG_Modeling/*.csv
Codigo/Python_Ai_Signal_Processing/ECG_Modeling/*.h5
Codigo/Python_Ai_Signal_Processing/AI_TFG_ENV/*
Codigo/Python_Ai_Signal_Processing/AI_TFG/*
Codigo/Python_Ai_Signal_Processing/ECG_Modeling/*.csv
Codigo/Python_Ai_Signal_Processing/ECG_Modeling/*.h5
Healthy-Dataset/*
More_Datasets/*
ECG_Modeling/*.csv
ECG_Modeling/*.h5
AI_TFG_ENV/*
AI_TFG/*
AI_TFG
AI_TFG_ENV
Codigo/Python_Ai_Signal_Processing/AI_TFG_ENV/*
Codigo/Python_Ai_Signal_Processing/AI_TFG/*
Codigo/Python_Ai_Signal_Processing/ECG_Modeling/*.csv
Codigo/Python_Ai_Signal_Processing/ECG_Modeling/*.h5
